<!DOCTYPE html>
<html lang="en">
<head>
{% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href ="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <title>{% block  title %}{% endblock  %}</title>
    <style>
        html, body{
            height: 100%;
           background-color: #f6f6f6
        }
        .bg-dark{
            width: 100%;
        }
    </style>
</head>
<body>

    <div class="container-fluid" style="min-height:95%;">
        <div class="row">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <a class="navbar-brand" href="{% url 'blog' %}">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class ="nav-link" href="/">Thông tin cá nhân</a>
                    </li>
                    <li class="nav-item">
                      <a class ="nav-link" href="{% url 'blog' %}">Blog</a>
                    </li>
                    <li class="nav-item">
                      <a class ="nav-link" href="{% url 'contact' %}">Liên hệ</a>
                    </li>
                  </div>
                  <div class = "text-right">
                    <li class="nav-item">
                      {% if user.username %}
                      <p style="color:green"> Xin Chào {{user.username}}</p>
                    </li>
                    </div>
                     <div class = "text-right">
                    <li class="nav-item">
                      <a class ="nav-link" href="{% url 'logout' %}">Đăng Xuất</a>
                    </li>
                    <li class="nav-item">
                       
                        <div class = "text-right">
                        {% else %}
                        <li class="nav-item">
                            <a class ="nav-link" href="{% url 'register' %}">Đăng Ký</a>
                        </li>
                         <li class="nav-item">
                            <a class ="nav-link" href="{% url 'login' %}">Đăng Nhập</a>
                        </li>
                        {% endif %}
                        <div>
                        
                    </li>
                   
                  </ul>
                </div>  
              </nav>
            
                <div class="container-fluid">
                    {% block content %}

                    {% endblock %}
                </div>
            
        </div>
    </div>    
    <footer>
        <div class="container-fluid">
            <a href="https://www.facebook.com/profile.php?id=100005713865541">Facebook</a>|<a href="#">Twitter</a>|<a href="#">Google+</a>
        </div>
    </footer>    
</body>
</html>

