<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        {% for key,value in form.errors.items %}
            {{value}}
        {% endfor %}
        <center>
        <h2 style="text-align:center">ĐĂNG NHẬP</h2>
        </br>
        <p><label>Tài Khoản :</label>{{form.username}}</p>
        <p><label>Mật Khẩu :</label>{{form.password}}</p>
        <input type="hidden" name="next" value="{% url 'blog' %}"/>
        <button name="submit" class="btn btn-success">Đăng Nhập</button>
        </center>
</body>
</html>
