{% extends "pages/base.html" %}

{% block  title %}Blog{% endblock  %}

{% block content %}
<div class="row">
  <div class="col-md-8">
    <h1 class="my-4"></h1>
    {% if not Posts %}
      Chưa có bài viết nào
    {% else %}
    {% for post in Posts  %}
      <div class="card md-4">
        <div class="card-body">
          <h2 class="card-title">{{post.title}}</h2>
          <img src = "{{post.image.url}}" with="500px" height="300px"/>
          <br>
          <small>{{post.date|date:'d/m/Y'}}</small>
          <p class="card-text">{{post.body}}</p>
          <a href= "{% url 'post' post.id %}" class="btn btn-primary">Xem thêm</a>
       </div>
     </div>
    {% endfor %}
    <br>
    <!-- Hiện thị phân trang -->
      {% include "includes/pagination.html" with page=page_obj %}
   {% endif %}
  </div>
</div>
{% endblock content %}